.random-vn-list-container{
  padding: 0;
  list-style-type: none;
  margin: 0;
  padding: 1rem;
  box-shadow: 0 0 3px 3px rgba(128, 128, 128, 0.36);
  border-radius: 10px;
  background-color: white;
  width: 100%
}

.random-vn-list-container h1{
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
}

