.card-item-vn-container {
  display: inline-block;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  color: black;
  box-shadow: 0 0 3px 3px rgba(141, 141, 141, 0.337);
  position:relative;
  text-align: center;
  position: absolute;
  background-color: white;
  width: 100%;
}

.app-container.dark-mode .card-item-vn-container{
  background-color: rgb(39, 42, 85);
  color: white;
}
.app-container.dark-mode .card-item-vn-container .description{
  color: white;
}

.card-item-vn-container img{
  object-fit: contain;
  border-radius: 10px;
  width: 100%;
}

.card-item-vn-wrapper {
  width: 100%;
}

.card-item-vn-wrapper .description {
  margin: auto;
  width: 90%; 
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; 
  color: rgb(74, 73, 73);
  margin-bottom: 1.4rem;
  font-size: 0.9em;
}

.card-item-vn-wrapper .author {
  font-size: 1.2rem;
  font-weight: 700;
}

.card-item-vn-container h1{
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 1.3rem;
  font-family: 'Source Serif Pro', serif;
  padding: 0 1rem;
  margin: 0.3rem 0
}

.card-item-vn-container:hover {
  background-color: rgb(164, 0, 145)!important;
  color: white;
}

.card-item-vn-container:hover .description{
  color: white;
}

.container-image-frame{
  overflow: hidden;
  width: 95%;
  margin: auto;
  margin-top: 0.5rem;
}