.popup-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(98, 98, 98, 0.51);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup-title{
  margin-bottom: 1rem;
  font-family: "Roboto", sans-serif;
}

.popup-description{
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  line-height: 2rem;
  margin-top: 0.5rem;
}

.popup-wrapper{
  background-color: white;
  box-shadow: 0 0 5px 1px rgb(130, 130, 130);
  padding: 1rem 2rem;
  border-radius: 10px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-buttons{
  display: flex;
  flex: 0 1 auto;
  width: 100%;
  justify-content: space-between;
}

.popup-buttons a{
  width: 49%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
  margin-top: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 5px;
}

.button-link-donate{
  color: white;
  background-color: rgb(107, 107, 107);
}

.button-link-download{
  color: white;
  background-color: purple; 
}

@media (max-width:448px) {
  .popup-buttons span{
    font-size: 0.8rem;
  }
}