.custom-select2-container{
  padding: 0.6rem;
  position: relative;
  width: 100%;
  margin: 0.4rem;
  font-family: 'Roboto', sans-serif, Arial, Helvetica;
}

.input-section-container{
  display: flex;
  border: 1px solid rgb(126, 111, 111);
  padding: 0.5rem;
  flex-direction: column;
  border-radius: 5px;
  cursor: text;
}

.label-select2{
  font-family: 'Roboto', sans-serif, Arial, Helvetica;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
}

.custom-select2-wrapper{
  position: relative;
}

.list-suggestion{
  position: absolute;
  top: 100%;
  left: 0;
  max-height: 180px;
  z-index: 6;
  overflow-y: auto;
  display: none;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: rgb(222, 222, 222);
  border: 1px solid rgb(126, 122, 122);
  overflow-x: hidden;
}

.dark-mode .list-suggestion li{
  background-color: black;
}

.list-suggestion li,
.list-suggestion div{
  padding-left: 1rem;
  display: flex;
  align-items: center;
  height: 35.2px;
  white-space: nowrap;
}

.list-suggestion li.active{
  color:red;
}

.list-suggestion li:hover{
  cursor: pointer;
}

.dark-mode .input-section-container input{
  color: white;
}

.input-section-container input{
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
}

.all-options-selected{
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.all-options-selected span{
  white-space: nowrap;
  overflow: hidden;
  height: 35.2px;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(255, 9, 9);
  border-radius: 2px;
  margin-right: 0.3rem;
  margin-bottom: 0.3rem;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  font-size: 1rem;
}

.all-options-selected span::before, 
.all-options-selected span .one,
.all-options-selected span .two{
  opacity: 0;
  transition: 1s;
  background-color: black;
  position: absolute;
  top:50%;
  left:50%;
}

.all-options-selected span .one{
  transform: translate(-50%, -50%) rotate(-45deg);
}

.all-options-selected span .two{
  transform: translate(-50%, -50%) rotate(45deg);
}

.all-options-selected span:hover:before{
  content: '';
  opacity: 1;
  position: absolute;
  top: 0;
  background-color: rgba(245, 245, 245, 0.333);
  left: 0;
  width: 100%;  
  height: 100%;
}

.all-options-selected span:hover .one{
  height: 3px;
  width: 100%;
  opacity: 1;
}

.all-options-selected span:hover .two{
  height: 3px;
  width: 100%;
  opacity: 1;
}