.search-VNs-container{
  width:100%;
  padding:0.6rem 0;
  border-radius: 30px;
  cursor: text;
  box-shadow: 0 0 5px 1px rgba(128, 128, 128, 0.436);
  margin-bottom: 1rem;
  position: relative;
  background-color: white;
}

.app-container.dark-mode .search-VNs-container{
  background-color: rgb(39, 42, 85);
}

.app-container.dark-mode .search-VNs-container input{
  color: white;
}

.search-VNs-container input::placeholder{
  color: rgb(164, 164, 164);
}

.search-VNs-container input{
  width: 96%;
  border: none;
  margin: 0 1rem;
  font-size: 1.2rem;
  font-family: "Roboto";
  outline: none;
  background-color: transparent;
}

.suggestion-list-container{
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 12;
  background-color: white;
  width: 100%;
  box-shadow: 0 0 5px 1px rgba(128, 128, 128, 0.64);
  border-radius: 10px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.app-container.dark-mode .suggestion-list-container{
  background-color: rgb(39, 42, 85);
}

.app-container.dark-mode .suggestion-list-container .suggestion-item{
  color: white;
}

.suggestion-item{
  display: flex;
  height: 80px;
  margin: 0;
  align-items: center;
  padding: 0.5rem;
  border-radius: 10px;
  color: black;
}

.suggestion-item.active{
  background-color: rgba(194, 194, 194, 0.288);
}

.suggestion-item:hover{
  cursor: pointer;
  background-color: rgba(194, 194, 194, 0.288);
}

.suggestion-description{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all;
}

.suggestion-item h4{
  margin: 0;
}

.suggestion-item img{
  height: 100%;
  max-width: 60px;
  object-fit: contain;
  margin-right: 1rem;
}