fieldset {
  border-radius: 10px;
  line-height: 2rem;
  margin-top: 1rem;
  border: 3px solid rgba(128, 128, 128, 0.362);
  background-color: rgba(192, 192, 192, 0.219);
}

legend {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.4rem;
  font-family: "Roboto";
}

.visual-novel-detail-container {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 3px 3px rgb(128 128 128 / 36%);
  border-radius: 10px;
  padding: 1rem;
  font-size: 1.1rem;
}

.app-container.dark-mode .visual-novel-detail-container {
  background-color: rgb(39, 42, 85);
}

.visual-novel-detail-container a {
  color: blue;
}

.detail-title-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.image-wrapper {
  width: 50%;
  position: relative;
}

.image-wrapper .block-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: red;
}

.image-wrapper .block-overlay div {
  font-weight: 600;
}

.image-wrapper .block-overlay .show-me-button {
  color: blue;
  cursor: pointer;
}

.image-wrapper .block-overlay .show-me-button:hover {
  text-decoration: underline;
}

.detail-title-container img {
  width: 100%;
  max-width: 300px;
}

.detail-title-container img.nsfw {
  filter: blur(10px);
}

.detail-title-wrapper {
  margin-left: 1rem;
}

.detail-title-table-info-container {
  margin-left: 1rem;
  margin-top: 0;
  padding-top: 0;
  width: 94%;
  border-radius: 10px;
  border: 3px solid rgba(128, 128, 128, 0.362);
}

.detail-title-table-info-container legend {
  text-align: center;
}

.detail-title-table-info tr td {
  padding-left: 1rem;
  padding-bottom: 0.5rem;
}

.detail-title-table-info tr th {
  text-align: left;
  vertical-align: text-top;
  padding-bottom: 0.5rem;
}

.detail-title-table-info tr a {
  text-decoration: none;
}

.visual-novel-title {
  font-family: "Merriweather", serif;
  text-align: center;
  margin-top: 0;
  font-size: 2rem;
}

.description-container a {
  text-transform: capitalize;
  color: blue;
  text-decoration: none;
}

.detail-relation-list {
  margin: 0.5rem;
  padding-left: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.2rem;
  list-style-type: square;
}

.screenshots-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.screenshots-container img {
  max-width: 110px;
  margin: 0.5rem;
  cursor: zoom-in;
}

.image-zoom-container {
  position: fixed;
  z-index: 1000;
  cursor: zoom-out;
  display: none;
}

.black-background {
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.642);
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  display: none;
}

.image-zoom-container img {
  width: 100%;
  height: 100%;
}

.release-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0.5rem;
}

.button-download {
  box-shadow: 0 0 3px 1px black;
  padding: 1rem;
  cursor: pointer;
  display: inline-block;
  color: white !important;
  border-radius: 10px;
  background-color: rgb(42, 89, 165);
  margin: 0.5rem;
  transition: 0.3s;
}

.button-download:hover {
  background-color: blueviolet;
}

.mode-filter-screenshots {
  display: flex;
  justify-content: flex-end;
}

.mode-filter-screenshots div.active {
  background-color: purple;
}

.mode-filter-screenshots div {
  margin: 0 0.5rem;
  padding: 0 0.9rem;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.388);
  color: white;
  cursor: pointer;
  transition: 0.5s;
}

.screenshots-container .nsfw {
  border: 3px solid red;
}

.affiliate-link-item {
  max-width: 200px;
  display: inline-block;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 10px;
}

.affiliate-link-item:hover label {
  background-color: black;
}

.affiliate-link-item img {
  width: 100%;
  display: block;
}

.affiliate-link-item label {
  position: absolute;
  width: 100%;
  transition: 0.5s;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.273);
  font-weight: 600;
  color: white;
  text-align: center;
}

.detail-tag-list span {
  padding: 0px 6px;
  background-color: rgba(20, 16, 16, 0.405);
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  margin-right: 4px;
  margin-bottom: 4px;
  display: inline-block;
  border-radius: 10px;
  font-size: small;
  cursor: pointer;
}

@media (max-width: 690px) {
  .detail-title-container {
    flex-direction: column;
  }

  .right-side-link {
    margin-left: 0.3rem !important;
  }

  .image-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .app-wrapper {
    margin: auto;
  }

  .detail-title-table-info-container {
    margin-left: 0;
    width: 92%;
  }
}
