.account-setting-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px purple;
  width: 100%;
  max-width: 600px;
}

.app-container.dark-mode .account-setting-container{
  background-color:rgb(39, 42, 85) ;
  color: white;
}

.app-container.dark-mode .account-setting-container label{
  color: white;
}
.app-container.dark-mode .account-setting-container .avatar-image{
  border: 10px solid rgb(39, 42, 85);
}

.account-setting-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 5rem;
}

.account-setting-container .avatar-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid white;
  cursor: pointer;
  object-fit: cover;
  object-position: center;
}

.avatar-image-container {
  display: flex;
  align-items: center;
  position: absolute;
  top: -50px;
}

.avatar-image-container div {
  margin-left: 0.5rem;
  font-size: large;
  font-weight: 600;
  transform: translateY(10px);
}

.detail-account-container {
  background-color: rgba(214, 214, 214, 0.245);
  padding: 1rem;
  border-radius: 10px;
}

.detail-account-container label {
  color: rgb(75, 75, 75);
  font-weight: 600;
  text-transform: uppercase;
}

.detail-account-container > div {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail-account-container > div button {
  padding: 0.5rem 1rem;
  background-color: rgb(241, 212, 247);
  border: none;
  border-radius: 3px;
  text-transform: capitalize;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}

.detail-account-container > div button:hover {
  background-color: rgb(234, 141, 255);
}