table {
  border-spacing: 0;
}

table .tr {
  padding: 0.5rem;
  height: fit-content;
}

.admin-container {
  overflow: auto;
}

.app-container.dark-mode .admin-container {
  color: white;
  width: 100%;
}

.app-container.dark-mode .admin-container th,
.app-container.dark-mode .admin-container td {
  border: 1px solid white;
}

.admin-container th,
.admin-container td {
  padding: 0.5rem 1rem;
  border: 1px solid black;
}

.update-button-container {
  display: inline-block;
  cursor: pointer;
  margin: 1rem;
}

.admin-button-edit-voted-vn-list {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column-reverse;
  left: 100%;
}

.table-edit-voted-vn-container {
  min-width: 220px;
  font-size: 0.8rem;
  position: relative;
}

.table-edit-voted-vn-container:hover button{
  opacity: 1;
}

.admin-button-edit-voted-vn-list button {
  background-color: black;
  color: white;
  border: none;
  margin-left: 2px;
  opacity: 0;
  transition: 0.5s;
  padding: 5px 10px;
  border-radius: 5px;
}

.app-container.dark-mode .textarea-voted-vn-list {
  color: rgb(146, 162, 255);
}

.textarea-voted-vn-list::-webkit-scrollbar-thumb {
  background-color: orange;
}
.textarea-voted-vn-list::-webkit-scrollbar {
  width: 5px;
  background-color: aliceblue;
}
